body{
    background-color: beige;
    color: black;
}

#bodyTitle{
    font-size: 200%;
    text-align: center;
}

#addressTitle{
    text-align: left;
    font-size: 125%;
    text-decoration: underline;
}

#addresses{
    text-align: left;
}

#foot{
    text-align: left;
    font-size: 75%;
}

#otherWays{
    font-size: 125%;
    text-decoration: underline;
}